.logo {
   height: 6em;
   padding: 1.5em;
   will-change: filter;
   transition: filter 300ms;
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.random-food {
   /* display: flex;
   align-items: center;
   justify-content: center; */
   width: 90%;
   max-width: 300px;
   margin-bottom: 3rem;
}
.nav-bar {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: lightslategray;
   padding: 0 2rem;
}

.search {
   width: 500px;
   height: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 3rem;
}
.src-img {
   width: 200px;
   height: 200px;
}

.src-form {
   display: flex;
   flex-direction: column;
   padding: 0 3rem;
   margin-left: 3rem;
}

.src-form input {
   margin-bottom: 1rem;
}

.src-form button {
   margin: 0 auto;
   width: 100px;
   height: 30px;
   background-color: lightslategray;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}
